@charset 'utf-8';
html,
body,
div,
form,
p,
ul,
li,
h3 {
	margin: 0;
	padding-left: 0;
}

body {
	background-color: #efebeb;
}

button:hover {
	cursor: pointer;
	background-color: #f1c232;
}

h3 {
	border-left: 0.3rem solid #ffd966;
	text-align: center;
	background-color: #fff2cc;
	color: #666666;
	padding: 0.5rem 0;
}

.ns-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background-color: #f1c232;
	color: #666666;
	text-align: center;
	z-index: 1;
}

.has-header {
	position: relative;
	margin-top: 4rem;
	padding: 1rem;
}

div.detail {
	position: fixed;
	top: 5rem;
	bottom: 1rem;
	left: 0.5rem;
	width: 38%;
	background-color: #fff;
}

div.list {
	position: fixed;
	top: 5rem;
	left: 42%;
	width: 55%;
	background-color: #fff;
}

div.list form {
	margin: 0 auto;
	width: 80%;
	padding: 1rem;
}

div.list form label {
	font-size: 1.2rem;
	font-weight: bold;
	color: #666666;
}

div.list form input {
	width: 90%;
}

div.list p {
	position: relative;
	padding-left: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: #666666;
	margin-bottom: 1rem;
}

div.result {
	border-top: 0.05rem grey solid;
	position: fixed;
	overflow-y: auto;
	top: 18rem;
	bottom: 1rem;
	left: 42%;
	width: 55%;
	background-color: #fff;
}

div.result #bookList p {
	padding-left: 3rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	cursor: pointer;
}

div.result #bookList p:nth-child(2n) {
	background-color: #fff2cc;
}

div.result #bookList p:nth-child(2n+1) {
	background-color: #fff;
}

div.result #bookList p.book:hover {
	background-color: #d9d9d9;
}

.bookSelected {
	background-color: #f6b26b !important;
}

div#bookDetail {
	margin: 1rem;
}

div#bookDetail>p {
	margin-top: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#bookDetail p span.label-tag {
	font-size: 1rem;
	font-weight: bold;
}

div#bookDetail #cartBtn {
	cursor: pointer;
	width: 7rem;
	height: 2rem;
	font-size: 0.9rem;
}

span.cart-icon {
	cursor: pointer;
	position: fixed;
	display: block;
	bottom: 1rem;
	left: 0.5rem;
	height: 3rem;
	width: 3rem;
	background: url(../icon/cart.jpg) no-repeat;
	background-size: 100% 100%;
}

span.cart-icon:after {
	display: block;
	content: attr(data-num);
	text-align: center;
	color: #fff;
	height: 1.2rem;
	line-height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background-color: red;
}

div.cart-list {
	position: fixed;
	top: 5rem;
	bottom: 1rem;
	left: -50rem;
	width: 38%;
	background-color: #fff;
}

div.cart-list button.return-btn {
	font-size: 1rem;
	font-weight: bold;
	color: #666666;
}

div.buy-detail {
	margin-top: 1rem;
	padding: 0.2rem;
	border-bottom: 0.1rem dotted grey;
}

div.buy-detail p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

span.buy-list-tag {
	font-weight: bold;
}

div.summary {
	padding: 1rem;
}

button.pay-btn {
	margin-left: 1rem;
	font-size: 1.2rem;
	width: 6rem;
	height: 2rem;
}

input.input-num {
	width: 1.5rem;
}

button.remove-btn {
	margin-top: 0.5rem;
	width: 4rem;
	height: 2rem;
}

div#buyList {
	height: 88%;
	overflow: auto;
}

div.success {
	margin-left: 1rem;
	color: red;
}